<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/kairos/css/sidebar_styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/kairos/css/main.css">
</head>
<header>
    <nav class="navbar">
        <img src="" alt="">
    </nav>
</header>
<body>
    <main class="main-area js-main-area">
        <div class="brand-title-container">
            <div class="brand-icon-container">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>
        <div class="brand-title2">
            <div class="brand-icon">
                <img src="../../static/kairos/img/color-logo.png" alt="">
            </div>
            <div class="brand-text">
                <p>Kairos Web Services</p>
            </div>
        </div>

    </main>
    <script src="../../static/kairos/js/main.js"></script>
</body>
</html> 