{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="flex h-screen text-gray-700">

    <!-- TEXT MENU LIST COLUMN (HIDDEN UNTIL MEDIUM+ SCREEN SIZE)-->
    <div class="hidden md:flex flex-col border-r border-gray-800">

        <!-- LEFT COLUMN LOGO -->
        <button class="relative focus:outline-none group">
            <div class="flex items-center justify-between w-full h-16 px-4 border-b border-gray-800">
                <a class="flex items-center justify-center flex-shrink-0 w-full h-16" href="#">
                    <img class="w-10 h-10" src="{% static 'passdown/blackiconnobg.png' %}" alt="coloricon">
                </a>
            </div>
        </button>

        <!-- TEXT MENU LIST -->
        <div class="md:flex md:flex-col md:flex-grow md:p-4">
            <a class="flex items-center justify-center mb-4 flex-shrink-0 h-10 md:w-40 px-2 xs:text-xs sm:text-xs md:text-sm font-medium rounded text-gray-900 bg-gray-300 border border-black" href="#">
                <span class="leading-none">Pass Down List</span>
            </a>
            <a class="flex items-center justify-center mb-4 flex-shrink-0 h-10 md:w-40 px-2 xs:text-xs sm:text-xs md:text-sm font-medium rounded bg-gray-200 hover:bg-gray-300 hover:text-gray-900" href="{% url 'passdown:admin-search' %}">
              <span class="leading-none">Search</span>
            </a>
        </div>

    </div>

    <!-- LARGE RH COLUMN -->
    <div class="flex flex-col flex-grow">

        <!-- TOP ROW: DASHBOARD/MENU BUTTONS -->
        <div class="flex items-center justify-center flex-shrink-0 h-16 px-8 border-b border-gray-800">
            <h1 class=" text-lg font-medium">{{ request.user.work_center.organization }} Admin Panel</h1>
        </div>

        <!-- TOP ROW: BUTTONs VISIBLE UP TO MEDIUM SCREEN SIZE, THEN HIDDEN -->
        <div class="flex flex-wrap md:hidden justify-center border border-b-black">
            <a href="{% url 'passdown:master-list' %}">
                <button class="h-10 text-sm font-medium px-2 my-2 rounded text-gray-900 bg-gray-300 border border-black">
                    Pass Down List
                </button>
            </a>
            <a href="{% url 'passdown:admin-search' %}">
                <button class="h-10 text-sm font-medium px-2 my-2 rounded bg-gray-200 hover:bg-gray-300 hover:text-gray-900">
                    Search
                </button>
            </a>
        </div>

        <!-- TOP ROW: ADMIN CONTROLS -->
        <div class="flex flex-wrap justify-left border border-b-black">
            <a href="{% url 'passdown:admin-dashboard' %}">
                <button class="h-6 text-sm font-medium px-2 mx-1 my-1 rounded text-gray-900 bg-gray-300 border border-black">
                    Pass Down
                </button>
            </a>
            <a href="#">
                <button class="h-6 text-sm font-medium px-2 mx-1 my-1 rounded text-gray-900 bg-gray-200 border border-black">
                    Users
                </button>
            </a>
            <a href="#">
                <button class="h-6 text-sm font-medium px-2 mx-1 my-1 rounded text-gray-900 bg-gray-200 border border-black">
                    Work Centers
                </button>
            </a>
        </div>

        <!-- TOP ROW: PASSDOWN SUB MENU -->
        <div class="flex flex-wrap justify-left border border-b-black">
            {% for workcenter in workcenters %}
            <a href="{% url 'passdown:admin-passdown' workcenter.pk %}">
                <button class="h-6 text-sm font-medium px-4 mx-1 my-1 rounded text-gray-900 bg-gray-200 border border-black">
                    {{ workcenter.name }}
                </button>
            </a>
            {% endfor %}
        </div>

        <!-- LIST SECTION -->
        <div class="flex flex-col flex-grow p-6 bg-gray-300 overflow-auto">
            <div class="grid grid-cols-3 gap-2">
                {% for passdown in entries %}
                <div class="col-span-3 bg-white text-black text-lg rounded border border-black overflow-auto">
                    <div class="border-b border-black p-2 font-bold">
                        {{ passdown.date_time }} {{ passdown.shift }}
                        <div class="text-sm font-normal">
                            <p>Notes: {{ passdown.notes }}</p> 
                            <p>Entered by: {{ passdown.entered_by }}</p>
                        </div>
                    </div>
                    <div class="p-4 rounded overflow-auto">
                        {% for entry in passdown.entry_set.all|dictsort:"modex" %}
                        <div class="mb-3 text-sm">
                            -{{ entry.modex }}: {{ entry.discrepancy|upper }}, JS:{{ entry.job_status }}, CDI:{{ entry.cdi }}
                            <br>   {{ entry.text_body }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- PAGINATIONS CONTROLS INSIDE LIST SECTION-->
            <!-- MEDIUM SCREENS AND UP -->    
                <div class="hidden md:flex md:justify-center pagination mt-auto text-sm">
                    <span class="step-links">
                        <div class="flex flex-row justify-center">
                            <div class="flex justify-center p-2 mt-2 mx-1 text-black font-medium">
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                            </div>
                        {% if page_obj.has_previous %}
                            <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                <a href="?page=1">&laquo; First</a>
                            </div>
                            <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </div>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            </div>
                            <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            </div>
                        {% endif %}
                        </div>
                    </span>
                </div>

                <!-- XS SCREENS UP TO MEDIUM SCREENS -->
                <div class="md:hidden pagination mt-auto text-sm">
                    <span class="step-links">
                        <div class="flex flex-col justify-center">
                            <div class="flex justify-center p-2 mt-2 mx-1 text-black font-medium">
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                            </div>
                        {% if page_obj.has_previous %}
                            <div class="flex flex-row justify-center">
                                <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                    <a href="?page=1">&laquo; First</a>
                                </div>
                                <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </div>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                </div>
                                <div class="flex border border-black rounded p-2 mt-2 mx-1 hover:bg-gray-400 text-black text-sm font-medium">
                                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </span>
                </div>


        <!-- END LIST SECTION -->
        </div>


    </div>
    <!-- Component End  -->

</div>
{% endblock content %}