{% extends "base.html" %}
{% load static %}
{% block content %}
<body style="background-image: url('{% static 'passdown/watermarklogo5.png' %}');" class="bg-no-repeat lg:bg-[center_top_0rem] lg:bg-[length:900px_900px]
sm:bg-[center_top_10rem] sm:bg-[length:500px_500px] xs:bg-[center_top_10rem] xs:bg-[length:300px_300px] iphonese:bg-[center_top_10rem] iphonese:bg-[length:300px_300px]">

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">
            You are not authorized to view this page.
        </h1>
            <a href="{% url 'landingview' %}" class="flex-shrink-0 bg-gray-200 border-0 py-2 px-8 focus:outline-none hover:bg-gray-300 hover:text-gray-900 rounded text-lg mt-10 sm:mt-0">
                Return to home page
            </a>
      </div>
    </div>
  </section>

</body>

{% endblock content %}